<div class="container">
  <!-- OLD for loop in angular-->
   <li *ngFor="let x of users;">
     id {{x.id}} has the name {{x.name}}


   </li>

   <br>
   <hr>
   <!-- NEW for loop in angular-->
    <ul>
      @for (i of users; track i.id) {
        <li>in new for loop id {{i.id}} has the name {{i.name}}</li>
      }
      @empty {
        <span>empty list of Users!!!!!</span>
      }
    </ul>

    <br>
   <hr>
   <!-- NEW for loop in angular-->
    <ul>
      @for (i of em; track i) {
        
      }
      @empty {
        <span>empty list of Users!!!!!</span>
      }
    </ul>
    <br>
    <!-- OLD swotch case in angular-->
     <div [ngSwitch]="type">
      <div *ngSwitchCase="10">THIS IS 10</div>
      <div *ngSwitchCase="20">THIS IS 20</div>
      <div *ngSwitchCase="30">THIS IS 30</div>
      <div *ngSwitchCase="40">THIS IS 40</div>
      <div *ngSwitchDefault>SORRY NO MATCH!!!!</div>

     </div>

     <br>
     <!-- NEW swotch case in angular-->
     @switch (type) {
      @case (10) {
        <div>I am 10</div>
      }
      @case (20) {
        <div>I am 20</div>
      }
      @case (30) {
        <div>I am 30</div>
      }
      @case (40) {
        <div>I am 40</div>
      }
      @default {
        <div>Sorry not found!!!</div>
      }

     }

     <!-- NEW if else in angular-->
      <br>
      @if (v==10) {
        <h3>I am 10</h3>
      }
      @else {
        <h3>I am not 10</h3>
      }

      <!-- OLD if else in angular-->
       <h2 *ngIf="v==10;else shaili">Check</h2>
       <ng-template #shaili><h2>I am 10</h2></ng-template>
</div>